header{
    border: solid;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:#bac8d3;

}
.boxMenu{
    width: 60vw;
    ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        a{
            color: black;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    li {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 0;
          height: 2px;
          background: currentColor;
          transition: width 0.3s ease;
        }
        &:hover::after {
          width: 100%;
        }
      }
}

